.police-roboto-size {
  font-family: 'Roboto', sans-serif;
  font-size: 1.1rem;
}

.police-shrikhand-size {
  font-size: 2rem;
  font-family: 'Shrikhand', cursive;
}

.police-shrikhand-mod_size {
  font-family: 'Shrikhand', cursive;
  font-size: 1.2rem;
}

input {
  font-weight: 600;
  font-size: 1rem;
}

.flex_column--text--full_center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: #ffffff;
}

.flex_column--text--full_center h1 {
  margin: 0.5rem;
  font-weight: 100;
  font-size: xx-large;
}

.flex_column--text--full_center .title {
  text-decoration: none;
}

.flex_column--text--full_center form {
  background-color: #eaeaea;
  width: 100%;
  -webkit-box-shadow: inset 0px 6px 8px -10px #000000;
          box-shadow: inset 0px 6px 8px -10px #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex_column--text--full_center form input {
  border: none;
  border-top: grey;
  background-color: #eaeaea;
  -webkit-box-shadow: inset 0px 6px 8px -10px #000000;
          box-shadow: inset 0px 6px 8px -10px #000000;
  height: 3rem;
  padding-left: 1rem;
  width: 10rem;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.flex--center--center--around {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #f6f6f6;
}

.flex--center--center--around img {
  width: 100%;
}

footer {
  background-color: #353535;
  padding: 0.4rem 2rem;
}

footer .color-text-white {
  color: #ffffff;
  font-weight: 500;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

footer .color-text-white:hover {
  color: #9356DC;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

footer ul {
  padding-left: 0;
}

footer ul li {
  list-style-type: none;
  padding: 0.3rem 0;
}

footer ul li .fa-utensils {
  padding-right: 0.5rem;
}

footer ul li .fa-hands-helping {
  padding-right: 0.3rem;
}

footer ul li a {
  color: #ffffff;
  text-decoration: none;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

footer ul li a:hover {
  color: #9356DC;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

.button_explore_resto-purple {
  border: none;
  padding: 1rem;
  border-radius: 3rem;
  margin: 1rem;
  color: #ffffff;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  background: -webkit-linear-gradient(280deg, #FF79DA, #9356DC);
  background: -o-linear-gradient(280deg, #FF79DA, #9356DC);
  background: linear-gradient(170deg, #FF79DA, #9356DC);
  cursor: pointer;
  -webkit-box-shadow: 0px 10px 26px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 10px 26px 0px rgba(0, 0, 0, 0.3);
}

.button_explore_resto-purple:hover {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

.buttons_fonctioning {
  padding: 2rem 1rem 2rem 1.7rem;
  background-color: #ffffff;
}

.buttons_fonctioning .button_choice_fonctioning {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  background-color: #f6f6f6;
  border-radius: 1.5rem;
  height: 5rem;
  margin: 1.5rem 0;
  -webkit-box-shadow: 0 5px 15px 2px #eaeaea;
          box-shadow: 0 5px 15px 2px #eaeaea;
  cursor: pointer;
  -webkit-transition: background-color .4s;
  -o-transition: background-color .4s;
  transition: background-color .4s;
}

.buttons_fonctioning .button_choice_fonctioning:hover {
  background-color: #f5edff;
}

.buttons_fonctioning .button_choice_fonctioning .number_button {
  position: relative;
  left: -0.8rem;
  color: #ffffff;
  padding: 0.2rem 0.45rem 0.15rem;
  background-color: #9356DC;
  border-radius: 10rem;
  -webkit-transition: -webkit-transform 4s;
  transition: -webkit-transform 4s;
  -o-transition: transform 4s;
  transition: transform 4s;
  transition: transform 4s, -webkit-transform 4s;
}

.buttons_fonctioning .button_choice_fonctioning .number_button:hover {
  -webkit-transform: rotatex(2turn);
      -ms-transform: rotatex(2turn);
          transform: rotatex(2turn);
}

.buttons_fonctioning .button_choice_fonctioning .icon_button {
  color: gray;
  padding: 1.5rem;
  padding-left: 0.5rem;
}

.buttons_fonctioning .button_choice_fonctioning .icon_button:hover {
  color: #9356DC;
}

.buttons_fonctioning .button_choice_fonctioning h3 {
  color: #000000;
}

.text_card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0.5rem 1rem;
  color: #000000;
}

.text_card h3 {
  margin: 0;
}

.text_card .city {
  margin: 0.5rem 0;
}

.fa-heart {
  position: absolute;
  right: 2rem;
  bottom: 1.5rem;
  color: #9356DC;
}

.size {
  font-size: 1.4rem;
}

.size .heart_solid {
  opacity: 0;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

.size .heart_solid:hover {
  opacity: 1;
}

html {
  background-color: #99E2D0;
}

body {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 1000px;
  margin: auto;
}

h1 {
  text-decoration: none;
  color: #000000;
}

.title_explorer {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: #f6f6f6;
  padding: 2rem;
}

.title_explorer h1 {
  width: 80%;
  margin: 0.5rem;
}

.title_explorer p {
  margin: 0.7rem;
}

.restaurant {
  background-color: #f6f6f6;
  padding: 2rem 1rem 4rem;
  height: auto;
}

.restaurant .content_cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 68rem;
}

.restaurant .link_card_resto {
  background-color: #ffffff;
  height: 16rem;
  border-radius: 1rem;
  text-decoration: none;
  position: relative;
  -webkit-box-shadow: 0 5px 5px #eaeaea;
          box-shadow: 0 5px 5px #eaeaea;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

.restaurant .link_card_resto:hover {
  -webkit-transform: scale(1.03);
      -ms-transform: scale(1.03);
          transform: scale(1.03);
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
  -webkit-box-shadow: 0 0 10px 0 #000000;
          box-shadow: 0 0 10px 0 #000000;
}

.restaurant .image_resto {
  width: 100%;
  height: 11rem;
  border-radius: 1rem 1rem 0 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.restaurant .new {
  background-color: #99E2D0;
  color: #278870;
  font-weight: 600;
  height: 1.6rem;
  width: 4rem;
  padding: 0.5rem 1rem 0rem;
  border-radius: 0.15rem;
  position: absolute;
  right: 1rem;
  bottom: 12rem;
}
