footer{
    background-color: $chocolate;
    padding: 0.4rem 2rem;
    & .color-text-white{
        color: $white;
        font-weight: 500;
        transition: 1s;
        &:hover{
            color: $color-primary;
            transition: 1s;
        }
    }
    ul{
        padding-left: 0;
        li{
            list-style-type: none;
            padding: 0.3rem 0;
        
            .fa-utensils{
                padding-right: 0.5rem;
            }
            .fa-hands-helping{
                padding-right: 0.3rem;
            }
            a{
                color: $white;
                text-decoration: none;
                transition: 1s;
                &:hover{
                    color: $color-primary;
                    transition: 1s;
                }
            }
        }
    }
}