* { box-sizing: border-box}
* {text-decoration: none}

h2, h3{
    margin: 0;
}

html{
    background-color: $color-tertiary;
}

body{
    max-width: 1000px;
    margin:0 auto;
}

.title_explorer{
        @include flexbox(flex, column, center, center);
        text-align: center;
        background-color: $grey-primary;
        padding: $padding;
        padding-bottom: $padding*3;
        .title_h2-size{
            width: 80%;
            margin: 0.5rem;
        }   
}


.restaurant{
    background-color: $grey-primary;
    padding: $padding*2 0rem $padding*3;
    .title_h2-size{
        padding-left: $padding;
    }
    .content_cards{
        @include flexbox(flex, row wrap, null, space-around);
        height: auto;
    }
    .link_card_resto{
        background-color: $white;
        width: 100%;
        height: 16rem;
        border-radius: 1rem;
        position: relative;
        margin:$margin/2 $margin;
        box-shadow: $box_shadow $grey-secondary;
        transition: 1s;
        &:hover{
            transform: scale(1.03);
            transition: .4s;
            box-shadow: $box_shadow $black;
        }
    }
    .image_resto{
        width: 100%;
        height: 70%;
        border-radius: 1rem 1rem 0 0;
        object-fit: cover;
    }
    .new{
        background-color: $color-tertiary;
        color: darken($color-tertiary, 40%);
        font-weight: 600;
        text-align: center;
        padding-top: $padding/4;
        height: 1.6rem;
        width: 5rem;
        border-radius: 0.15rem;
        position: absolute;
        right: 1rem;
        bottom: 12rem;
    }
}

// childs HTML


.img_html_child-size{
    width: 100%;
}

.title_child-flex-pol{
    @include flexbox(flex, null, center, space-between);
    font-size: $font-size*1.2;
    .title_resto-weight{
        font-weight: 100;
    }
    .fa-heart{
        font-size: $font-size*1.7;
        padding: $padding;
    }
}
.card_menu_bg-color{
    height: 80rem;
    background-color: $grey-primary;
    position: relative;
    padding: $padding;
    top: -50px;
    border-radius: 3rem 3rem 0 0;
}

.types_dish{
    @include flexbox(flex, column, null, space-around);
    height: 20rem;
}

.dish{
    background-color: $white;
    border-radius: $bor_rad;
    padding: $padding/2;
    height: 5rem;
    z-index: 0;
    cursor: pointer;
    position: relative;
    .price{
        bottom: 1rem;
        padding-right: $padding;
        position: absolute;
        right: 1rem;
        top: 2rem;
        font-weight: bold;
        .fa-check-circle{
            position: absolute;
            right: -6rem;
            top: 2rem;
            color: $white;
            background-color: $color-tertiary;
            width: 3rem;
            height: 5rem;
            border-radius:0 $bor_rad $bor_rad 0;
            text-align: center;
        }
    } 
}

