// For Main html page

.flex_column--text--full_center{    
    @include flex_column--text--full_center;
    background-color: $white;
    
    & h1{
    margin: 0.5rem;
    font-weight: 100;   
    font-size: xx-large;
    }
    & .title{
        text-decoration: none;
    }
    & form{
        background-color: $grey-secondary;
        width: 100%;
        box-shadow: inset 0px 6px 8px -10px $black;
        @include flex--center--center;
            & input{
                border: none;
                border-top: grey;
                background-color: $grey-secondary;
                box-shadow: inset 0px 6px 8px -10px $black;
                height: 3rem;
                padding-left: 1rem;
                width: 10rem;
                
            }
        }    
 }

// for seconds html

body{
    box-sizing: border-box
}

.flex--center--center--around{
    @include flex--center--center--around;
    background-color: $grey-primary;
    & img{
        width: 100%;
    }
}