header{    
    @include flex_column--text--full_center;
    background-color: $white;

    & h1{
    margin: 0.5rem;
    font-weight: 100;    
    }
    & form{
        background-color: $grey-secondary;
        width: 100%;        
        @include flex--center--center;
            & input{
                border: none;
                background-color: $grey-secondary;
                height: 3rem;
                padding-left: 1rem;
                width: 10rem;
                
            }
        }    
 }