// For Main html page

.header_flex{
    @include flexbox (flex, column, center, space-between);
    background-color: $white;
    height: 7.5rem;
    .form-flex-size-col{
        @include flexbox(flex, row, center, center);
        background-color: $grey-secondary;
        width: 100%;
        box-shadow: inset 0px 6px 8px -10px $black;
        .input-color-size{
            border: none;
            border-top: grey;
            background-color: $grey-secondary;
            box-shadow: inset 0px 6px 8px -10px $black;
            height: 3rem;
            padding-left: $padding;
            width: 10rem;
            font-weight: 600;
        }
    }    
 }

.title-size-color{
    font-weight: 100;
    font-size: xx-large;
    height: 2rem;
    color: $black;
    padding: $padding;
    margin: 0;
}

// for childs html
.header-fle-cen-cen-aro{
    background-color: $grey-primary;    
    .fa-arrow-left{
        position: absolute;
        padding: $padding*1.8;
        font-size: 1.3rem;
        color: $black;

    }
    .title-size-color{
        text-align: center;
        height: auto;
    }
}
