maquettes/Animations/Animation - Page Menu - Sélection d_un plat.mp4
maquettes/Animations/Animation - Page Menu - Apparition progressive.mp4
maquettes/Menu - Le délice des sens.png
maquettes/Menu - La palette du goût.png
maquettes/Menu - La note enchantée.png
maquettes/Menu - À la française.png
maquettes/Accueil.png
images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg
images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg
images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg
images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg
images/logo/ohmyfood@2x.svg
images/logo/ohmyfood.png
Oh my food - Textes.txt
Brief créatif - Ohmyfood!.pdf
