.police_text
font-family: 'Roboto', sans-serif;

.police_title_logo{
    font-family: 'Shrikhand', cursive;
}

$police_title_logo: shrihand;

$color-primary:#9356DC;

$color-secondary: #FF79DA;

$color-tertiary: #99E2D0;

.text--center{
    text-align: center;
}