<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../Sass/style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Shrikhand&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/b2b020a3e0.js" crossorigin="anonymous"></script>
        <title>Ohmyfood À la française</title>
    </head>
    <body class="police-roboto-size">
        <header>
            <div class="header-fle-cen-cen-aro">
                <a href="../index.html"><i class="fas fa-arrow-left"></i></a>
                <a href="../index.html" class="police-shrikhand-size "><h1 class="title-size-color">ohmyfood</h1></a>
            </div>
        </header>
        <main>
            <section>
                <img src="../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg" alt="A la française">
                <div>
                    <h1>À la française</h1>
                    <i class="far fa-heart"></i>
                </div>
                <h2>ENTRÉES</h2>
                <div>
                    <div>
                        <h3>Tartare de poulpe acidulé</h3>
                        <p>Aux zestes d'orange</p>
                        <p>25€</p>
                        <i class="fas fa-check-circle"></i>
                    </div>
                </div>
                <div>
                    <div>
                        <h3>Velouté de légumes d'antan</h3>
                        <p>Carotte, panais, topinambour</p>
                        <p>35€</p>
                        <i class="fas fa-check-circle"></i>
                    </div>
                </div>
                <div>
                    <div>
                        <h3>Soupe à l'oignon</h3>
                        <p>Revisitée</p>
                        <p>20€</p>
                        <i class="fas fa-check-circle"></i>
                    </div>
                </div>
                <h2>PLATS</h2>
                <div>
                    <div>
                        <h3>Coquilles Saint-Jacques</h3>
                        <p>Accompagnées d'une purée de panais</p>
                        <p>40€</p>
                        <i class="fas fa-check-circle"></i>
                    </div>
                </div>
                <div>
                    <div>
                        <h3>Magret de canard</h3>
                        <p>Et parmentier de pommes de terre</p>
                        <p>35€</p>
                        <i class="fas fa-check-circle"></i>
                    </div>
                </div>
                <div>
                    <div>
                        <h3>Pigeonneau d’Ille-et-Vilaine</h3>
                        <p>Sur son lit de gnocchis aux légumes</p>
                        <p>44€</p>
                        <i class="fas fa-check-circle"></i>
                    </div>
                </div>
                <h2>DESSERTS</h2>
                <div>
                    <div>
                        <h3>Pétales de violettes glacés</h3>
                        <p>Et purée de noisettes</p>
                        <p>18€</p>
                        <i class="fas fa-check-circle"></i>
                    </div>
                </div>
                <div>
                    <div>
                        <h3>Fondant au chocolat</h3>
                        <p>Revisité</p>
                        <p>22€</p>
                        <i class="fas fa-check-circle"></i>
                    </div>
                </div>
                <div>
                    <div>
                        <h3>Millefeuille croustillant</h3>
                        <p>Myrtilles et pâte d’amande</p>
                        <p>23€</p>
                        <i class="fas fa-check-circle"></i>
                    </div>
                </div>
                <input type="button" value="Commander">
            </section>
        </main>
        <footer class="bg-chocolate">
            <a href="../index.html"><h2 class="police-shrikhand-mod_size color-text-white">ohmyfood</h2></a>
            <ul>
                <li>
                    <a href="">
                        <i class="fas fa-utensils fa-sm"></i>
                        Proposer un restaurant
                    </a>
                </li>
                <li>
                    <a href="">
                        <i class="fas fa-hands-helping fa-xs"></i>
                        Devenir partenaire
                    </a>
                </li>
                <li>
                    <a href="">Mentions légales</a>
                </li>
                <li>
                    <a href="mailto:contact@ohmyfood.com">Contact</a>
                </li>
            </ul>
        </footer>
    </body>
</html>