<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../Sass/style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Shrikhand&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/b2b020a3e0.js" crossorigin="anonymous"></script>
        <title>Ohmyfood À la française</title>
    </head>
    <body class="police-roboto">
        <header>
            <div class="header-fle-cen-cen-aro">
                <a href="../index.html"><i class="fas fa-arrow-left"></i></a>
                <a href="../index.html" class="police-shrikhand"><h1 class="title-size-color">ohmyfood</h1></a>
            </div>
        </header>
        <main>
            <section>
                <img class="img_html_child-size" src="../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg" alt="A la française">
                <div class="card_menu_bg-color">
                    <div class="title_child-flex-pol">
                        <h1 class="police-shrikhand title_resto-weight">À la française</h1>
                        <img src="../images/heart.svg" class="heart_child" alt="heart">
                    </div>
                    <h2 class="title_type_dish">ENTRÉES</h2>
                    <div class="types_dish">
                        <div class="dish">
                            <h3>Tartare de poulpe acidulé</h3>
                            <p>Aux zestes d'orange</p>
                            <p class="price">25€</p>
                            <i class="fas fa-check-circle"></i>
                        </div>
                        <div class="dish">
                            <h3>Velouté de légumes d'antan</h3>
                            <p>Carotte, panais, topinambour</p>
                            <p class="price">35€</p>
                            <i class="fas fa-check-circle"></i>
                        </div>
                        <div class="dish">
                            <h3>Soupe à l'oignon</h3>
                            <p>Revisitée</p>
                            <p class="price">20€</p>
                            <i class="fas fa-check-circle"></i>
                        </div>
                    </div>
                    <h2 class="title_type_dish">PLATS</h2>
                    <div class="types_dish">
                        <div class="dish">
                            <h3>Coquilles Saint-Jacques</h3>
                            <p>Accompagnées d'une purée de panais</p>
                            <p class="price">40€</p>
                            <i class="fas fa-check-circle"></i>
                        </div>
                        <div class="dish">
                            <h3>Magret de canard</h3>
                            <p>Et parmentier de pommes de terre</p>
                            <p class="price">35€</p>
                            <i class="fas fa-check-circle"></i>
                        </div>
                        <div class="dish">
                            <h3>Pigeonneau d’Ille-et-Vilaine</h3>
                            <p>Sur son lit de gnocchis aux légumes</p>
                            <p class="price">44€</p>
                            <i class="fas fa-check-circle"></i>
                        </div>
                    </div>
                    <h2 class="title_type_dish">DESSERTS</h2>
                    <div class="types_dish">
                        <div class="dish">
                            <h3>Pétales de violettes glacés</h3>
                            <p>Et purée de noisettes</p>
                            <p class="price">18€</p>
                            <i class="fas fa-check-circle"></i>
                        </div>
                        <div class="dish">
                            <h3>Fondant au chocolat</h3>
                            <p>Revisité</p>
                            <p class="price">22€</p>
                            <i class="fas fa-check-circle"></i>
                        </div>
                        <div class="dish">
                            <h3>Millefeuille croustillant</h3>
                            <p>Myrtilles et pâte d’amande</p>
                            <p class="price">23€</p>
                            <i class="fas fa-check-circle"></i>
                        </div>
                    </div>
                    <input class="btn-purple" type="button" value="Commander">
                </div>
            </section>
        </main>
        <footer class="footer-color-size">
            <a href=""><h2 class="text-color-size police-shrikhand">ohmyfood</h2></a>
            <ul class="ul-style_none">
                <li class="li-pad">
                    <a class="text-color-size" href="">
                        <i class="fas fa-utensils fa-sm"></i>
                        Proposer un restaurant
                    </a>
                </li>
                <li class="li-pad">
                    <a class="text-color-size" href="">
                        <i class="fas fa-hands-helping fa-xs"></i>
                        Devenir partenaire
                    </a>
                </li>
                <li class="li-pad">
                    <a class="text-color-size" href="">Mentions légales</a>
                </li>
                <li class="li-pad">
                    <a class="text-color-size" href="mailto:contact@ohmyfood.com">Contact</a>
                </li>
            </ul>
        </footer>
    </body>
</html>
