<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../Sass/style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Shrikhand&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/b2b020a3e0.js" crossorigin="anonymous"></script>
        <title>Ohmyfood La palette du goût</title>
    </head>
    <body class="police-roboto-size">
        <header>
            <div class="header-fle-cen-cen-aro">
                <a href="../index.html"><i class="fas fa-arrow-left"></i></a>
                <a href="../index.html" class="police-shrikhand"><h1 class="title-size-color">ohmyfood</h1></a>
            </div>
        </header>
        <main>
            <section class="police-roboto">
                <img class="img_html_child-size" src="../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg" alt="La palette de goût">
                <div class="card_menu_bg-color">
                    <div class="title_child-flex-pol">
                        <h1 class="police-shrikhand title_resto-weight">La palette du goût</h1>
                        <img src="../images/heart.svg" class="heart_child" alt="heart">
                    </div>
                    <h2 class="title_type_dish">ENTRÉES</h2>
                    <div class="types_dish">
                        <div class="dish">
                            <h3>Fricassée d'escargot</h3>
                            <p>Au piment d'espelette</p>
                            <p class="price">25€</p>
                            <i class="fas fa-check-circle"></i>
                        </div>
                        <div class="dish">
                            <h3>Foie gras de canard mi-cuit</h3>
                            <p>Et ses copeaux de truffe noire</p>
                            <p class="price">35€</p>
                            <i class="fas fa-check-circle"></i>
                        </div>
                        <div class="dish">
                            <h3>Oeuf au plat</h3>
                            <p>Assaisonné à la truffe sur lit de caviar</p>
                            <p class="price">20€</p>
                            <i class="fas fa-check-circle"></i>
                        </div>
                    </div>
                    <h2>PLATS</h2>
                    <div class="types_dish">
                        <div class="dish">
                            <h3>Filet de boeuf aux herbes</h3>
                            <p>Accompagné de sa ribambelle de légumes</p>
                            <p class="price">40€</p>
                            <i class="fas fa-check-circle"></i>
                        </div>
                        <div>
                            <div class="dish">
                                <h3>Parmentier de queue de boeuf</h3>
                                <p>À la truffe noire sur sa purée de panais</p>
                                <p class="price">35€</p>
                                <i class="fas fa-check-circle"></i>
                            </div>
                        </div>
                        <div>
                            <div class="dish">
                                <h3>Filet de turbot</h3>
                                <p>Aux agrumes</p>
                                <p class="price">44€</p>
                                <i class="fas fa-check-circle"></i>
                            </div>
                        </div>
                    </div>
                    <h2>DESSERTS</h2>
                    <div class="types_dish">
                        <div>
                            <div class="dish">
                                <h3>Paris-Brest</h3>
                                <p>Revisité</p>
                                <p class="price">18€</p>
                                <i class="fas fa-check-circle"></i>
                            </div>
                        </div>
                        <div>
                            <div class="dish">
                                <h3>Macaron au chocolat d'exception </h3>
                                <p>Et glace à la vanille de Madagascar</p>
                                <p class="price">22€</p>
                                <i class="fas fa-check-circle"></i>
                            </div>
                        </div>
                        <div>
                            <div class="dish">
                                <h3>Mousse au chocolat</h3>
                                <p>Au piment d'Espelette et à la truffe noire</p>
                                <p class="price">23€</p>
                                <i class="fas fa-check-circle"></i>
                            </div>
                        </div>
                    </div>
                    <input class="btn-purple" type="button" value="Commander">
                </div>
            </section>
        </main>
        <footer class="footer-color-size">
            <a href=""><h2 class="text-color-size police-shrikhand">ohmyfood</h2></a>
            <ul class="ul-style_none">
                <li class="li-pad">
                    <a class="text-color-size" href="">
                        <i class="fas fa-utensils fa-sm"></i>
                        Proposer un restaurant
                    </a>
                </li>
                <li class="li-pad">
                    <a class="text-color-size" href="">
                        <i class="fas fa-hands-helping fa-xs"></i>
                        Devenir partenaire
                    </a>
                </li>
                <li class="li-pad">
                    <a class="text-color-size" href="">Mentions légales</a>
                </li>
                <li class="li-pad">
                    <a class="text-color-size" href="mailto:contact@ohmyfood.com">Contact</a>
                </li>
            </ul>
        </footer>
    </body>
</html>