<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../Sass/style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Shrikhand&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/b2b020a3e0.js" crossorigin="anonymous"></script>
        <title>Ohmyfood Le délice des sens</title>
    </head>
    <body>
        <header>
            <div >
                <a href="../index.html"><i class="fas fa-arrow-left"></i></a>
                <h1><a href="../index.html" class="police_shrikhand">ohmyfood</a></h1>
            </div>
            <img src="images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg" alt="La palette de goût">
        </header>
        <main>
            <section>
                <div>
                    <h1 >Le délice des sens</h1>
                    <i class="far fa-heart"></i>
                </div>
                <h2>ENTRÉES</h2>
                <div>
                    <div>
                        <h3>Tartare de thon</h3>
                        <p>Assaisonné au yuzu</p>
                        <p>25€</p>
                        <i class="fas fa-check-circle"></i>
                    </div>
                </div>
                <div>
                    <div>
                        <h3>Bouchée de homard croustillant</h3>
                        <p>Et sa farandole de petits légumes</p>
                        <p>35€</p>
                        <i class="fas fa-check-circle"></i>
                    </div>
                </div>
                <div>
                    <div>
                        <h3>Velouté de cèpes </h3>
                        <p>Aux truffes</p>
                        <p>20€</p>
                        <i class="fas fa-check-circle"></i>
                    </div>
                </div>
                <h2>PLATS</h2>
                <div>
                    <div>
                        <h3>Poulet rôti aux herbes de Provence</h3>
                        <p>Et sa crème de truffe</p>
                        <p>40€</p>
                        <i class="fas fa-check-circle"></i>
                    </div>
                </div>
                <div>
                    <div>
                        <h3>Langouste rôtie</h3>
                        <p>Et ses légumes de saison</p>
                        <p>35€</p>
                        <i class="fas fa-check-circle"></i>
                    </div>
                </div>
                <div>
                    <div>
                        <h3>Côte de boeuf Angus</h3>
                        <p>Et sa purée de panais</p>
                        <p>44€</p>
                        <i class="fas fa-check-circle"></i>
                    </div>
                </div>
                <h2>DESSERTS</h2>
                <div>
                    <div>
                        <h3>Farandole de desserts</h3>
                        <p>Du chef</p>
                        <p>18€</p>
                        <i class="fas fa-check-circle"></i>
                    </div>
                </div>
                <div>
                    <div>
                        <h3>Crème brulée</h3>
                        <p>Revisitée</p>
                        <p>22€</p>
                        <i class="fas fa-check-circle"></i>
                    </div>
                </div>
                <div>
                    <div>
                        <h3>Tiramisu</h3>
                        <p>À la noisette</p>
                        <p>23€</p>
                        <i class="fas fa-check-circle"></i>
                    </div>
                </div>
                <input type="button" value="Commander">
            </section>
        </main>
        <footer>
            <h2><a href="../index.html" class="police_shrikhand">ohmyfood</a></h2>
            <ul>
                <li>
                    <a href="">
                        <i class="fas fa-utensils"></i>
                        Proposer un restaurant
                    </a>
                </li>
                <li>
                    <a href="">
                        <i class="fas fa-hands-helping"></i>
                        Devenir partenaire
                    </a>
                </li>
                <li><a href="">Mentions légales</a></li>
                <li><a href="mailto:mon_adresse@mail.com">Contact</a></li>
            </ul>
        </footer>
    </body>
</html>