.police-roboto{
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
  }
  
.police-shrikhand{    
    font-family: 'Shrikhand', cursive;
  }
// .police-shrikhand-mod_size{
//     font-family: 'Shrikhand', cursive;
//     font-size: 1.2rem;
//   }
