 .button_explore_resto-purple{
    border: none;
    padding: 1rem;
    border-radius: 3rem;
    margin: 1rem;
    color: $white;
    font-size: 1rem;
    background: linear-gradient($color-secondary, $color-primary)
}

.buttons_fonctioning{
    padding: 5%;
    & a{
        display: flex;
        justify-content: start;
        align-items: center;
        text-decoration: none;
        background-color: $grey-primary;
        border-radius:1.5rem;
        height: 5rem;
        margin: 1.5rem 0;
        box-shadow: 0 5px 10px 1px $grey-secondary;
        &:hover{
            background-color: $color_bg_hover-purple;
        }
        & p{
            position: absolute;
            left: 1.4rem;
            color: $white;
            padding: 0.2rem 0.45rem;
            font-size: 0.8rem;
            background-color: $color-primary;
            border-radius: 10rem;
        }
        & i{
            color: gray;
            padding: 2rem;
            &:hover{
                color: $color-primary;
            }
        }
        & h3{
            color: $black;
        }
    }
}

.hearth::after{
    display: none;
}

.hearth_solid::before{
    display: none;
}