.btn_exp_resto-purple{
    @include btn_exp_resto-purple
}

.btns_fonctioning{
    padding: $padding*2;
    background-color: $white;
    .button_choice_fonctioning{
        @include flexbox(flex, null, null, null);
        align-items: center;
        background-color: $grey-primary;
        border-radius:1.5rem;
        padding-right: $padding;
        height: 5rem;
        margin: $margin*1.5 0 $margin $margin;
        box-shadow: $box_shadow $grey-secondary;
        cursor: pointer;
        transition: background-color .4s;
        &:hover, &:focus{
            background-color: $color_bg_hover-purple;
            & .icon_button{
                color: $color-primary;                
            }
            .number_button{
                transform: rotatex(2turn);
            }
        }
        .number_button{
            position: relative;
            left: -0.8rem;
            color: $white;
            padding: 0.2rem 0.45rem 0.1rem;
            background-color: $color-primary;
            border-radius: 10rem;
            transition: transform 4s;
        }
        .icon_button{
            color: gray;
            padding-left: $padding/2;
            padding-right: $padding*1.5;
        }
    }
}



.text_card{
    @include flexbox(flex, column, null, null);
    padding: $padding/2 $padding;
    color: $black;
    & h3{
        margin: 0;
    }
    .city{
        margin: $margin/2 0;
    }
}

  

.btn-purple{
    @include btn_exp_resto-purple;
    padding: $padding $padding*3;
    margin: auto;
}

