.button_explore_resto-purple{
    border: none;
    padding: $padding;
    border-radius: 3rem;
    margin: $margin;
    color: $white;
    @include bg-lin_grad-bi_color;
    cursor: pointer;
    box-shadow: $box_shadow rgba(0,0,0,0.3);
    &:hover{
        transform: scale(1.2);
    }
}

.buttons_fonctioning{
    padding: $padding*2;
    background-color: $white;
    .button_choice_fonctioning{
        @include flexbox(flex, null, null, null);
        align-items: center;
        background-color: $grey-primary;
        border-radius:1.5rem;
        height: 5rem;
        margin: $margin*1.5 0;
        box-shadow: $box_shadow $grey-secondary;
        cursor: pointer;
        transition: background-color .4s;
        &:hover{
            background-color: $color_bg_hover-purple;            
        }
        .number_button{
            position: relative;
            left: -0.8rem;
            color: $white;
            padding: 0.2rem 0.45rem 0.1rem;
            background-color: $color-primary;
            border-radius: 10rem;
            transition: transform 4s;
            &:hover{
                transform: rotatex(2turn);
            }
        }
        .icon_button{
            color: gray;
            padding-left: $padding/2;
            padding-right: $padding*1.5;
            &:hover {
                color: $color-primary;
            }
        }
    }
}

.text_card{
    @include flexbox(flex, column, null, null);
    padding: $padding/2 $padding;
    color: $black;
    & h3{
        margin: 0;
               
    }
    .city{
        margin: $margin/2 0;
    }
}

@keyframes heart {
    0% {

    }
    25% {

    }
    50% {

    }
    75% {

    }
    100% {

    }
}

.heart{
    height: $size_heart;
    position: absolute;
    right: 1rem;
    bottom: 1.5rem;
    &:hover {
        background: linear-gradient($color-primary, $color-secondary);
    }
}
