@mixin flexbox ($dis, $fle_flo, $ali_ite, $jus_con){
    display: $dis;
    flex-flow: $fle_flo;
    align-items: $ali_ite;
    justify-content: $jus-con;
}

@mixin hearth-position {
    position: absolute;
    right: 2rem;
    bottom: 1.5rem;
    color: $black;
}

@mixin bg-lin_grad-bi_color {
    transition: 1s;
    background: linear-gradient(170deg, $color-secondary, $color-primary);
}

@mixin bi_color-pri-sec {
    color: line

}

