@mixin flexbox ($dis, $fle_flo, $ali_ite, $jus_con){
    display: $dis;
    flex-flow: $fle_flo;
    align-items: $ali_ite;
    justify-content: $jus-con;
}

@mixin hearth-position {
    position: absolute;
    right: 2rem;
    bottom: 1.5rem;
}

@mixin bg-lin_grad-bi_color {
    transition: .4s;
    background: $color_bg_btn;
}

@mixin btn_exp_resto-purple{
    border: none;
    padding: $padding;
    border-radius: 3rem;
    margin: $margin;
    color: $white;
    @include bg-lin_grad-bi_color;
    cursor: pointer;
    box-shadow: $box_shadow rgba(0,0,0,0.3);
    &:hover, &:focus{
        opacity: 0.8;
        box-shadow: $box_shadow darken($color: rgba(0,0,0,0.5), $amount: 100%)
    }
}
