@mixin flex--base--column{
    display: flex;
    flex-direction: column;
}

@mixin flex--base {
    display: flex;    
}

@mixin flex_column--text--full_center {
    @include flex--base--column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

@mixin flex--center--center{
    @include flex--base;
    justify-content: center;
    align-items: center;
}

@mixin flex--column--between {
    @include flex--base--column;
    justify-content: space-between;
}

@mixin flex--center--between {
    @include flex--base;
    align-items: center;
    justify-content: space-between;
}

@mixin flex--center--center--around {
    @include flex--base;
    align-items: center;
    justify-content: space-around;
}

@mixin flex--column {
    flex-direction: column;
}


@mixin hearth-position {
    position: absolute;
    right: 2rem;
    bottom: 1.5rem;
    color: $black;
}

@mixin bg-lin_grad-bi_color {
    transition: 1s;
    background: linear-gradient(170deg, $color-secondary, $color-primary);
}

@mixin bi_color-pri-sec {
    color: line

}

