
$color-primary:#9356DC;

$color-secondary: #FF79DA;

$color-tertiary: #99E2D0;

$chocolate: #353535;

$black: #000000;

$white: #ffffff;

$grey-primary: #f6f6f6;

$grey-secondary: #eaeaea;

$color_bg_hover-purple: #f5edff;

$breakpoints: (
    "mini":(min-width: 700px),
    "medium":(min-width: 900px)
)