// Colors
$color-primary:#9356DC;

$color-secondary: #FF79DA;

$color-tertiary: #99E2D0;

$chocolate: #353535;

$black: #000000;

$white: #ffffff;

$grey-primary: #f6f6f6;

$grey-secondary: #eaeaea;

$color_bg_hover-purple: #f5edff;

// size
$size_heart: 2rem;

$size_left_arrow: 3rem;

$padding: 1rem;

$margin: 1rem;

$box_shadow: 0px 5px 10px 0px;

// $breakpoints
$queri-xs:"min-width: 700px";
$queri-m:"min-width: 900px";